{% extends "template.html" %}

{% block HeadBlock %}
<title>show1</title>
{% endblock %}

{% block BodyBlock %}
<div id="toolbar" style="width:600px; height: 50px; margin:30px"></div>
<button onclick="do_ajax()">do ajax</button>
<div id="main" style="width: 1000px;height:600px;"></div>

<div id="toolbar2" style="width:1600px; height: 50px; margin:30px"></div>
<button onclick="do_card()">do card</button>
<div id="testA" style='height:300px'></div>
<div id="paging_here"></div>
{% endblock %}

{% block ScriptBlock %}
<script src="/js/app-show1.js"></script>
{% endblock %}
